@page "/cursos"
@attribute [StreamRendering]
@rendermode InteractiveServer

@using Models.Response;
@using Models.Request;
@using Services;

<PageTitle>Cursos</PageTitle>

<h1>Cursos</h1>

<div class="d-flex justify-content-end">
	<button class="btn btn-success">Novo curso</button>
</div>

@if (lstCursos == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var curso in lstCursos)
			{
				<tr>
					<td>@curso.Nome</td>
					<td>
						<button class="btn btn-warning" onclick="teste()">Alterar</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<ViewCurso> lstCursos = null;
	protected override async Task OnInitializedAsync()
	{
		lstCursos = await ServiceCurso.GetAll();
		await Task.Delay(500);
	}

}
